/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --main-font-heading: 700;
    --main-font-regular: 400;
    --background-color: #fff;
    --text-color: #000;
    --background-image: 
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --text-stroke: #fff;
    --buttons-mix-color: #fff;
    --contour-color: #000;
    --sparks-color: #FF0000;
    --filling-color: #FF0000;
}
